@{
    ViewBag.Title = "Про проект";
}

<h2>Про проект</h2>
<p>
     Проект "Спорт на факультеті" - це інформаційна система, що містить базу даних, віконний проект та веб проект, 
     і може виконувати аналітичні, пошукові, адміністративні операції над даними. 
</p>
